{
  "env": {
    "test": {
      "presets": ["env", "react", "stage-0"],
      "plugins": [
        "transform-runtime"
      ]
    },
    "transform": {
      "plugins": [
        ["transform-imports", {
          "@roseys/futils": {
            "transform": "@roseys/futils/es/${member}"
          }
        }]
      ]
    }
  }
}